<h1>{{text}}</h1>
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Id, consequuntur
  quibusdam. Animi itaque delectus quis facere labore voluptas. Numquam sint
  ipsa provident? Possimus, sint quasi temporibus quis iure repellat delectus
  quibusdam maxime et harum itaque deserunt dolorum voluptatum eos ad accusamus
  recusandae fugit. Quaerat inventore repellat neque ea itaque distinctio
  cupiditate dolorum adipisci sit. Sapiente vel ad ipsa quaerat non quibusdam
  quia eligendi repellendus, quod ratione voluptates, perferendis eum. Magnam
  neque, molestiae accusantium incidunt quisquam, impedit similique corporis,
  deleniti quam asperiores distinctio possimus? Reiciendis repellendus
  consequuntur nobis quos voluptatibus, quae maiores nam quasi velit officiis
  doloremque corporis debitis dolore itaque?</p>