{{#if ideas}}
  {{#each ideas}}
    <div class="card my-3">
      <div class="card-body">
        <h5 class="card-title">{{title}}</h5>
        <div class="card-text">{{{trancateContent description 130}}}</div>
        <br />
        <a href="/ideas/{{_id}}" class="btn btn-primary">Read More</a>
      </div>
    </div>
  {{/each}}
{{else}}
  <h1>No Idea Found</h1>
{{/if}}