<div class="row">
  <div class="col-md-3">
    {{>_deshboardPanel.left}}
  </div>
  <div class="col-md-9">
      <form action="/category" method="POST" id="categoryForm">
        <div class="form-group mb-3">
            <label for="category">Category</label>
            <input type="text" name="category" class="form-control" placeholder="Category" id="category">
        </div>
        <input type="submit" value="Add Category" class="btn btn-primary">
      </form>
       <div class="allCategory mt-3">

        </div>
  </div>
</div>



{{!-- <h3>This is admin page</h3> --}}