<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {{! bootstrap cdn }}
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We"
      crossorigin="anonymous"
    />
    {{!-- ck editor cdn --}}
    <script src="https://cdn.ckeditor.com/ckeditor5/29.1.0/classic/ckeditor.js"></script>

    {{!-- style css link --}}
    <link rel="stylesheet" href="/style.css">

    <title>{{title}}</title>
  </head>
  <body>
    {{>_nav}}
    <div class="container">
  	{{>_errMsg}}
    {{{body}}}
    </div>
  </body>
  <script>
    ClassicEditor
        .create( document.querySelector( '#description' ),{
           toolbar: [ 'heading', '|', 'bold', 'italic', 'link', 'bulletedList', 'numberedList', 'blockQuote' ],
        } )
        .catch( error => {
            console.error( error );
        } );
    {{!-- ClassicEditor
        .create( document.querySelector( '#title' ),{
           toolbar: [ 'heading', '|', 'bold', 'italic', 'link', 'bulletedList', 'numberedList', 'blockQuote' ],
        } )
        .catch( error => {
            console.error( error );
        } ); --}}
</script>
</html>