<form action="/auth/login" method="POST">

  <div class="row">
    <div class="col-md-8 offset-md-2">
      <h3 class="text-muted my-4">Login</h3>
      
      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input
          type="email"
          class="form-control"
          id="email"
          placeholder="Email"
          name="email"
           {{#if userInput.email}} value="{{userInput.email}}" {{/if}}
        />
      </div>
      <div class="row">
        <div class="mb-3 col">
          <label for="password" class="form-label">Password</label>
          <input
            type="password"
            class="form-control"
            id="password"
            placeholder="Enter Password"
            name="password"
             {{#if userInput.password}} value="{{userInput.password}}" {{/if}}
          />
        </div>
      </div>
      <input type="submit" value="Login" class="btn btn-primary btn-sm" />
    </div>
  </div>

</form>