<div class="row">
  <div class="col-6 mx-auto mt-4">
    <h3 class="text-muted">Forget Password</h3>
    <form action="/auth/forget-password" method="post">
      <div class="form-group mt-3">
        <label for="email">Enter Your Email</label>
        <input
          type="email"
          name="email"
          id="email"
          required
          class="form-control"
          placeholder="Enter Your Email"
          {{#if userInput.email}}
          {{userInput.email}}
          {{/if}}
        />
      </div>
      <input
        type="submit"
        value="Reset Your Password"
        class="btn btn-info mt-2"
      />
    </form>
  </div>
</div>